name: CI Build
on: [push] # This tells GitHub to run the build every time you upload code

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Run a status check
        run: echo "The build is running successfully!"
